In [87]:
# print 와 f string

# print는 기본적으로 엔터 제공됨

In [1]:
print("Hello")

Hello

In [8]:
name="ken"
print(name)
print("hello", name)
print("hello"+name)  # 공백 안들어감
print(f"hello {name}")  # f string: 여러 + 를 쓰지 않아도 됨   ##주석 처리는 ctrl + /

ken
hello ken
helloken
hello ken

In [12]:
width = 4
height = 5
print(width *height)
print(f"{width} x {height} = {width * height}")
# f string에서 {}는 값을 불러오는 역할
## {} 안쓰면 그냥 text

20
4 x 5 = 20

In [15]:
# +, -, *, /, **(제곱), %(나머지), //(몫)
num1 = 3
num2 = 5

print(num1 + num2)
print(num1 - num2)
print(num1 * num2)
print(num1 / num2)
print(num1 ** num2)
print(num1 % num2)
print(num1 // num2)

8
-2
15
0.6
243
3
0

In [70]:
# if문

In [22]:
# if 조건물 :
#   // do something
# else:
#   // do something else


num1 = 3
if num1 % 2 == 0:
  print(f"{num1} 은 짝수")
else:
  print(f"{num1} 은 홀수")

3 은 홀수

In [27]:
# if 조건물 :
#   // do something
# elif 조건문2:
#   // do something
# elif 조건문3:
#   // do something
# else:
#   // do something else
## 조건문의 순서가 중요
## 상위 조건문 만족하면 아래 조건문으로 안내려감


num1 = 21

if num1 % 3 == 0 and num1 % 7 == 0:
  print("3 그리고 7의 배수")
elif num1 % 3 == 0:
  print("3의 배수")
elif num1 % 7 == 0 :
  print("7의 배수")
else:
  print("3 또는 7의 배수가 아님")

3 그리고 7의 배수

In [76]:
# range 와 for문 (list)

In [43]:
# range(시작=0, 끝(미만), 스텝=1)
# for i in range(11):
## print(i)
### 1~10 출력됨


result = 0
for i in range(1,11):
  result += i  # result = result + i

print(result)

55

In [34]:
result = 1
for i in range(5,1, -1):
  result *= i

print(result)

120

In [41]:
print(range(11))
print(range(5, 0, -1))
print(list(range(11)))
print(list(range(5, 0, -1)))

range(0, 11)
range(5, 0, -1)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[5, 4, 3, 2, 1]

In [42]:
# 1, 3, 5, 7, 9
print(list(range(1, 10, 2)))

[1, 3, 5, 7, 9]

In [44]:
# 구구단의 2단 출력
# 2 x 1 = 2
# 2 x 2 = 4
# ...
# 2 x 9 = 18

for i in range(1,10):
  print(f"2 x {1} = {2*i}")

2 x 1 = 2
2 x 1 = 4
2 x 1 = 6
2 x 1 = 8
2 x 1 = 10
2 x 1 = 12
2 x 1 = 14
2 x 1 = 16
2 x 1 = 18

In [48]:
# 2, 4, 6, 8 단
# 1, 2, 3, 4, 5, 6, 7, 8, 9

for i in range(2, 9, 2):
  print(f"# {i}단")
  for j in range(1,10,1):
    print(f"{i} x {j} = {i*j}")
  print("")

# 2단
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18

# 4단
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36

# 6단
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54

# 8단
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72

In [75]:
# while문

In [52]:
# while 조건문:
#   // do something

# while:
#   if 조건문:
#     break
#   // do something


num = 5
result = 1
while num > 0:
  print(f"{result}, {num}")
  result *= num
  num -= 1

print(result)

1, 5
5, 4
20, 3
60, 2
120, 1
120

In [54]:
num = 5
result = 1
while True:
  if num == 0:
    break

  print(f"{result}, {num}")
  result *= num
  num -= 1

print(result)

1, 5
5, 4
20, 3
60, 2
120, 1
120

In [74]:
# def 함수

In [73]:
## param(x), return(x)


def hello():
  print("hello")

hello()  # 함수 호출
print("")
res = hello()
print(res)

hello

hello
None

In [62]:
## param(x), return(o)

def add():
  a = 2
  b = 3
  return a + b

res = add()
print(res)

5

In [65]:
## param(o), return(o)

def add_two(num1, num2):
  return num1 + num2

res = add_two(3,4)
print(res)

7

In [68]:
## param(o), return(x)

def add_two2(num1, num2):
  print(f"{num1} + {num2} = {num1 + num2}")

res = add_two2(1,2)
print(res)

# 출력과 return은 별개
## return 있으면 변수에 값 넘어갈 수 있음
## return 없으면 변수에 값 안넘어가서 결과가 None

1 + 2 = 3
None

In [ ]:
# input 받기

In [72]:
name = input()
print(f"안녕하세요, {name}.")

ken
안녕하세요, ken.

In [78]:
# 파일 열기 - with open

## with open에서 default = "r"; read mode

In [80]:
with open("sample.txt") as handle:
  print(type(handle))

  for line in handle:
    print(line.strip())

## 내장함수 type(): 변수 형식 알려줌
## handle : TextIOWarpper

<class '_io.TextIOWrapper'>
>sample species
ATTAAAGGTTTATACCTTCCCAGGTAACAAACCAACCAACTTTCGATCTCTTGTAGATCTGTTCTCTAAA
CGAACTTTAAAATCTGTGTGGCTGTCACTCGGCTGCATGCTTAGTGCACTCACGCAGTATAATTAATAAC

In [84]:
with open("sample.txt") as handle:
  data = handle.readlines()

print(data)

## readlines() : list로 반환됨 (comma separated)

['>sample species\n', 'ATTAAAGGTTTATACCTTCCCAGGTAACAAACCAACCAACTTTCGATCTCTTGTAGATCTGTTCTCTAAA\n', 'CGAACTTTAAAATCTGTGTGGCTGTCACTCGGCTGCATGCTTAGTGCACTCACGCAGTATAATTAATAAC']

In [86]:
with open("write_test.txt", "w") as handle:
  handle.write("쓰기테스트.\n")
  handle.write("안녕하세요.")

# 파일탐색기) write_test.txt 파일 생성됨

In [88]:
# 주석

In [90]:
# comment

"""
multiple line
comments
"""

'\nmultiple line\ncomments\n'

In [92]:
# 예외 처리

## 오류나도 실행됨

In [94]:
try:
  with open("abc.txt") as handle:
    print(handle.realines())
except:
  pass

print("Done!")

Done!

In [96]:
try:
  with open("abc.txt") as handle:
    print(handle.realines())
except FileNotFoundError as err:  # err 변수에 오류 내용 집어넣음
  print("ERROR:", err)

print("Done!")

ERROR: [Errno 2] No such file or directory: 'abc.txt'
Done!

In [101]:
try:
   res = 10 / 0
   print(res)
except FileNotFoundError as err:
  print("ERROR:", err)
except ZeroDivisionError as err:   # try 부분에서 나는 오류 종류 넣어줌
  print("ERROR:", err)

print("Done!")

ERROR: division by zero
Done!

In [1]:
try:
   res = 10 / 0
   print(res)
except Exception as err:
  print("Error", err)

print("Done!")

Error division by zero
Done!

In [3]:
# 문자열 더하기

In [6]:
s1 = "Bio"
s2 = "Informatics"
s3 = s1 + s2

print(s3)

BioInformatics

In [8]:
dir(s1)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [12]:
seq1 = "ATGTTATAG"

print(seq1)

for i in range(len(seq1)):
  print(i, seq1[i])  #[] : indexing

ATGTTATAG
0 A
1 T
2 G
3 T
4 T
5 A
6 T
7 A
8 G

In [16]:
# 6번째 문자 출력

seq1 = "ATGTTATAG"
print(seq1[5])

A

In [14]:
# 문자열 나누기

In [15]:
seq1 = "ATGTTATAG"

print(seq1[3:6])

# [시작:끝]
## 끝은 포함 안됨

TTA

In [18]:
# 문자열 길이 구하기

In [17]:
seq1 = "ATGTTATAG"
print(len(seq1))

9

In [21]:
# 문자열 대소문자 변환하기

In [22]:
seq1 = "ATGTTATAG"
print(seq1.upper())
print(seq1.lower())


# object(객체) . method : 객체에 대한 method
## upper, lower : 문자열에 대한 method

ATGTTATAG
atgttatag

In [74]:
# 문자열 n씩 건너뛰며 출력하기

In [24]:
seq1 = "ATGTTATAG"

for i in range(0,len(seq1), 3):
  print(i, seq1[i])

0 A
3 T
6 T

In [28]:
# 문자열 n씩 건너뛰며 출력하기

In [26]:
seq1 = "ATGTTATAG"

for i in range(0, len(seq1), 3):
  print(i, i+3, seq1[i:i+3])

0 3 ATG
3 6 TTA
6 9 TAG

In [27]:
# 문자열 순서 뒤집기

In [31]:
seq1 = "ATGTTATAG"
result = ""

for i in range(len(seq1)-1, -1,-1):
  print(i, seq1[i])
  result += seq1[i]
print(result)

8 G
7 A
6 T
5 A
4 T
3 T
2 G
1 T
0 A
GATATTGTA

In [32]:
seq1 = "ATGTTATAG"
result = seq1[::-1]  # index default == [0:len:step]
print(result)

GATATTGTA

In [34]:
# 상보적 서열 만들기

In [33]:
seq1 = "ATGTTATAG"
result = ""

for base in seq1:
  if base == "A":
    result += "T"
  elif base == "C":
    result += "G"
  elif base == "G":
    result += "C"
  elif base == "T":
    result += "A"

print(seq1)
print(result)

ATGTTATAG
TACAATATC

In [39]:
complement = {"A" : "T", "C" : "G", "G" : "C", "T" : "A"}

# print(complement["A"])  # T
# print(complement["G"])  # C


seq1 = "ATGTTATAG"
result = ""

for base in seq1:
  result += complement[base]
print(seq1)
print(result)

ATGTTATAG
TACAATATC

In [40]:
# 특정 문자 확인하

In [44]:
seq1 = "ATGTTATAG"

for base in seq1:
  if base == "C" :
    print("C in seq")
  else:
    print("C not in seq")

C not in seq
C not in seq
C not in seq
C not in seq
C not in seq
C not in seq
C not in seq
C not in seq
C not in seq

In [43]:
seq1 = "ATGTTATAG"

if "C" in seq1:
  print("C in seq")
else:
  print("C not in seq")

C not in seq

In [73]:
# 문자열 index 번호 출력하기

In [50]:
seq1 = "ATGTTATAG"

for base in range(len(seq1)):
  base = seq1[base]
  if base == "T":
    break
print(i)

1

In [51]:
seq1 = "ATGTTATAG"

for i, base in enumerate(seq1):
  print(i, base)


# ecumerate() : index를 출력해줌

0 A
1 T
2 G
3 T
4 T
5 A
6 T
7 A
8 G

In [49]:
seq1 = "ATGTTATAG"

for i, base in enumerate(seq1):
  if base == "T":
    print(i, base)
    break

1 T

In [55]:
seq1 = "AGTTTATAG"
#       012345678

for i in range(len(seq1)):
  if seq1[i:i+2] == "TT":
    print(i, seq1[i:i+2])

2 TT
3 TT

In [57]:
seq1 = "AGTTTATAG"
print(seq1.index("T"))
print(seq1.index("TT"))

# 이렇게 해도 되지만 문자열 전체를 범위로 하려면 위에 처럼 해야 함

2
2

In [59]:
# 문자열을 리스트로 바꾸기

In [62]:
s1 = "AA,AC,AG,AT"
data = s1.split(",")
print(data)
print(type(data))

['AA', 'AC', 'AG', 'AT']
<class 'list'>

In [69]:
# 리스트에 요소 추가하기

In [70]:
s1 = "AA,AC,AG,AT"
data = s1.split(",")

s2 = "_".join(data)
print(s2)

s3 = "||".join(data)
print(s3)

AA_AC_AG_AT
AA||AC||AG||AT

In [71]:
# 리스트 순서 뒤집기

In [72]:
seq1 = "ATGTTATAG"
print(seq1[::-1])

data = ["AA", "AC", "AG", "AT"]
print(data[::-1])

GATATTGTA
['AT', 'AG', 'AC', 'AA']

In [76]:
# 리스트에서 가장 큰 값, 작은 값 구하기

In [75]:
data = [3, 1, 1, 2, 0, 0 ,2, 3, 3]

print(max(data))
print(min(data))

3
0

In [77]:
data = [3, 1, 1, 2, 0, 0 ,2, 3, 3]

max_val = data[0]
min_val = data[0]   # val이 data list의 첫번째 수라고 가정하고

for i in data:
  if i > max_val:
    max_val = i  # i가 더 크면 max_val을 치환
  if i < min_val:
    min_val = i  # i가 더 작으면 max_val을 치환

print(max_val, min_val)

3 0

In [78]:
# 리스트의 합

In [80]:
data = [3, 1, 1, 2, 0, 0 ,2, 3, 3]
result = 0
for i in data:
  result += i
print(result)

15

In [81]:
data = [3, 1, 1, 2, 0, 0 ,2, 3, 3]
print(sum(data))

15

In [82]:
# 리스트 요소의 개수(길이) 구하기

In [83]:
data = [3, 1, 1, 2, 0, 0 ,2, 3, 3]
print(len(data))

9

In [84]:
# 리스트의 평균

In [85]:
data = [3, 1, 1, 2, 0, 0 ,2, 3, 3]
print(sum(data)/len(data))

1.6666666666666667

In [90]:
## cf) 평균, 표준편차 구하기

data = [3, 1, 1, 2, 0, 0 ,2, 3, 3]

import statistics
statistics.mean(data)
statistics.stdev(data)

1.224744871391589

In [98]:
# range 와 list

# range를 list 하면 list화 됨

In [97]:
data = list(range(0,10))
print(data)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [87]:
# list 와 dictionary

## dictionary = (key , value) 의 집합

In [100]:
data = [3, 1, 1, 2, 0, 0 ,2, 3, 3]
print(data.count(0))
print(data.count(1))
print(data.count(2))
print(data.count(3))

2
2
2
3

In [92]:
# 파일 읽어서 사전을 활용한 문자 세기

In [102]:
data = [3, 1, 1, 2, 0, 0 ,2, 3, 3]
count_data = dict()

for i in data:
  if i not in count_data:
    count_data[i] = 0
  count_data[i] += 1

print(count_data)

{3: 3, 1: 2, 2: 2, 0: 2}
3 3
1 2
2 2
0 2

In [106]:
data = [3, 1, 1, 2, 0, 0 ,2, 3, 3]
count_data = dict()

for i in data:
  if i not in count_data:
    count_data[i] = 0
  count_data[i] += 1

for key, value in count_data.items():
  print(key, value)

3 3
1 2
2 2
0 2

In [107]:
count_data.items()

dict_items([(3, 3), (1, 2), (2, 2), (0, 2)])

In [108]:
count_data.keys()

dict_keys([3, 1, 2, 0])

In [110]:
sorted(count_data.keys())  #정렬

[0, 1, 2, 3]

In [111]:
for key in sorted(count_data.keys()):
  print(key, count_data[key])

0 2
1 2
2 2
3 3

In [115]:
data = dict()

with open("sample.txt") as handle:
  for line in handle:
    if line.startswith(">"):
      continue   # 아래 for문 실행 안하고 새로 for문 돌릴 것

    for base in line.strip():  # 엔터 고려해서 strip()
      if base not in data:
        data[base] = 0
      data[base] += 1

print(data)

{'A': 41, 'T': 44, 'G': 22, 'C': 33}

In [118]:
print(sorted(data.keys()))  # 알파벳 순으로 정렬

['A', 'C', 'G', 'T']

In [123]:
for base in sorted(data.keys()):
  print(base, ":", data[base])

A : 41
C : 33
G : 22
T : 44

In [94]:
# 세트 리스트 중복 제거

## dic, set : 둘 다 {}로 묶임
## dic : key value 있음
## set : unique한 값만 있음

In [125]:
data = [3, 1, 1, 2, 0, 0, 2, 3, 3]
data_set = set(data)  # 중복 제거됨
print(data_set)

{0, 1, 2, 3}

In [93]:
# 사전의 출력

In [126]:
data = {"A" : 1, "C" : 10}
print(data["A"])  # data[0](X)

1

In [96]:
# 두 공통,한쪽에만 있는 요소 출력하기

In [130]:
data1 = {1, 2, 5, 10}
data2 = {1, 2, 3, 6}

print(data1.intersection(data2))  # 교집합 출력
print(data1.union(data2))  # 합집합 출력
print(data1 - data2)  # 차집합 출력
print(data2 - data1)  # 차집합 출력

{1, 2}
{1, 2, 3, 5, 6, 10}
{10, 5}
{3, 6}

In [131]:
# class

In [133]:
data = [1,2,3]
print(data)
print(type(data))

## data 변수의 class = list
## class = 틀, object = 틀로 만들어진 결과물

[1, 2, 3]
<class 'list'>

In [153]:
class Student:

  def __init__(self):
    self.name= ""
    self.major=""

  def __str__(self):
    return f"{self.name}, {self.major}."

  def __add__(self, other):
    return self.name + "." + other.name

  def __len__(self):
    return len(self.name)

  def study(self, subject):
    print(f"{self.name} studies {subject}")

  def walk(self, dest):
    return f"{self.name} goes to {dest}."



student1 = Student()
print(type(student1))
print(dir(student1))  # 개체가 할 수 있는 모든 method와 속성

student1.name = "ken"
student1.major = "bioinformatics"
student1.study("bio")
res = student1.walk("library")
print(res)

print(student1.name)

print(student1)


student2 = Student()
student2.name = "jame"
print(student2)


print(student1 + student2)  # __add__ 를 선언한 결과

print(len(student1))  # __len_ 을 선언한 결과

<class '__main__.Student'>
['__add__', '__class__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__len__', '__lt__', '__module__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', '__weakref__', 'major', 'name', 'study', 'walk']
ken studies bio
ken goes to library.
ken
ken, bioinformatics.
jame, .
ken.jame
3